@code

{
//  Oscar Fox
//  https://sites.google.com/site/profvanselow/programming/languages/c_1/blazor?authuser=0
}

@page "/"

<h1>Hello, world!</h1>

<body>My name is Oscar Fox and this is my first web application with Blazor. 
    It's purpose is to be a sandbox for which I can improve my web application
    devleopment skills.</body>

<SurveyPrompt Title="How is Blazor working for you?" />
