@page "/ipo"

<h1>Input, Processing, and Output</h1>

<p>Input: positive integer</p>

<input @bind="InputString "/>

<button class="btn btn-primary" @onclick="DoProcessing">Do it</button>

<p>Output: the number is @Console.WriteLine </p>

@code

{

    private string InputString { get; set; }

    private string OutputString { get; set; }

    private void DoProcessing()

    {

        double num = double.Parse(InputString);

		if (num % 2 == 0) {
            Console.WriteLine("Even");
        }
        else {
            Console.WriteLine("Odd");
        }

        OutputString = num.ToString();

    }

}