@page "/ipo"

<h1>Input, Processing, and Output</h1>

<p>Input: positive integer</p>

<input @bind="InputString "/>

<button class="btn btn-primary" @onclick="DoubleNumber">Process</button>

<p>Output: number doubled is @OutputString </p>

<button class="btn btn-primary" @onclick="EvenOddNumber">Process</button>

<p>Output: the number is @OutputString </p>

@code

{

    private string InputString { get; set; }

    private string OutputString { get; set; }

    private void DoubleNumber()

    {

        double num = double.Parse(InputString);

        num = num * 2; 

        OutputString = num.ToString();

    }

    private void EvenOddNumber()

    {

        double num = double.Parse(InputString);    

        if (num % 2 == 0) {
            OutputString = "Even";
        }
        else {
            OutputString = "Odd";
        }
    
    }

}